body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.h4 {
  font-weight: 900;
  color: #073256;
}

.h3 {
  color: #073256;
}

li {
  margin-left: 7%;
  display: inline;
  font-size: 16px;
  font-weight: 450;
  color: #3A567D;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

li:hover {
  color: #000000;
}

header {
  background-color: #ffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.v-line {
  border-left: solid #3A567D;
  border-width: 1px;
  height: 5%;
  right: 11%;
  top: 1.5%;
  padding-left: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.v-line2 {
  border-right: solid #3A567D;
  border-width: 1px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.botones .boton1 {
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  background-color: #afc3d3;
  border-color: #afc3d3;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.botones .boton2 {
  margin-left: 15px;
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  background-color: #073256;
  border-color: #073256;
  border-style: solid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.height1 {
  height: 600px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 400px;
}

.title1 {
  font-size: 48px;
  color: #073256;
  font-weight: 700;
}

.txt1 {
  color: #afc3d3;
}

.height2 {
  background-color: rgba(58, 86, 125, 0.1);
  height: 650px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.subtitle {
  margin-left: 45%;
  margin-bottom: 50px;
}

.height2 .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  color: #073256;
  font-weight: 800;
}

.height3 {
  background-color: #ffff;
  height: 600px;
  padding-top: 50px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
  height: 400px;
  padding-right: 40px;
}

.services2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
  height: 400px;
  padding-right: 40px;
}

.services3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
  height: 400px;
  padding-right: 40px;
}

.services4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
  padding-right: 40px;
}

.text {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.height4 {
  background-color: #f8f9fa;
  height: 450px;
  padding-top: 50px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-services {
  padding: 0.35em 1.75em;
  border-radius: 30px;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  margin-left: 45%;
  margin-top: 40px;
}

.cohete-img {
  margin-top: 100px;
}

.view-more {
  padding: 0.35em 1.75em;
  border-radius: 30px;
  color: #ffff;
  background-color: #afc3d3;
}

.portfolio {
  padding: 0.35em 1.75em;
  border-radius: 30px;
  color: #ffff;
  background-color: #073256;
  margin-left: 45%;
  margin-bottom: 30px;
}

.part3-top {
  margin-left: 15%;
  border-bottom: solid #3A567D;
  border-width: 2px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.part3-bottom {
  margin-top: 5%;
  margin-left: 15%;
}

.ready {
  margin-left: 32%;
  margin-bottom: 3%;
  font-weight: 650;
  color: #073256;
}

.happy {
  margin-left: 37%;
  margin-bottom: 2%;
}

.btn-coffee {
  margin-left: 44%;
  padding: 0.35em 1.75em;
  border-radius: 30px;
  color: #ffff;
  background-color: #afc3d3;
  border-color: #afc3d3;
}

.height4 .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 17%;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  background-color: #f8f9fa;
}

.top-our-services .our-services-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.first2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first2 .branding-graphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.first2 .website-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second2 {
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second2 .search-engine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.second2 .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boton5 {
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  background-color: #afc3d3;
  border-color: #afc3d3;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-services-title {
  color: #073256;
  font-weight: 650;
}

.titles3 {
  color: #073256;
  font-weight: 650;
}
/*# sourceMappingURL=base.css.map */